*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  color: #eee;
}
html,
body {
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
}

.parent {
  /* padding: px; */
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.card {
  width: 300px;
  background-color: #222;
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 300px;
  margin: 20px auto;
  
}
.card img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;

}
.card h2 {
  margin-bottom: 10px;
}
.card p {
  margin: 10px 0;
}

.card button {
  padding: 10px 20px;
  border: none;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.box{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  /* align-items: center; */
}