/* import { Camera } from 'lucide-react'; */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  color: #333;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
}

.parent{
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: #111;
  padding: 30px;
  gap: 10px;
  flex-wrap: wrap;
}

.card{
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.top img{
  height: 40px;
  width: 40px;
  padding: 2px;
  border-radius: 50%;
  border: 1px solid #d1d1d1;
  
}

.top button{
  /* order: none; */
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #e2e2e2;
  gap: 3px;
  background-color: transparent;
  color: #d1d1d1;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d1d1d1;
  gap: 20px;
  padding-top: 15px;
}

.center{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.center h3{
  font-size: 17px;
  font-weight: 500;
}

.center h3 span{
  color: #888;
  font-weight: 400;
  font-size: 9px;
}

.center h2{
  font-size: 20px;
}

.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}

.center .tag h4{
  font-size: 10px;
  background-color: #d1d1d1;
  color: #111;
  padding: 4px 8px;
  border-radius: 3px;
}

.bottom button{
  background-color: #111;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
}
.bottom button:hover{
  background-color: #888;
  cursor: pointer;
}

.bottom h3{
  font-size: 17px;
}

.bottom p{
  font-size: 12px;
  color: #888;
}