* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;
}

.card {
  background-color: peru;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.navbar {
  background-color: #222;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}